@import 'partials/variables';
@import 'partials/mixins';

.about_wrap{
    .aboutgrid{
        margin: 30px 0px 0px;
        p{
            margin: 10px 0px 0px 0px;
        }
        .readmore{
            margin: 0px 0px 10px 0px;
            a{
                color: $green;
                &:hover{
                    text-decoration: none;
                }
            }
        }
    }
    .whatwedo{
        margin-top: 20px;
        .quotes{
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }
}

.list-group-item-action:focus {
    color: $white;
    text-decoration: none;
    background-color: $green;
}

.container_shipping{
    .greybox{
        background: $grey2;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        .insidegreybox{
            background: $white;
            padding: 10px;
        }
    }
    .benefits{
        .icon{
            max-width: 120px;
            text-align: center;
        }
    }
    @include max-767{
        .col-md-3.text-right{
            text-align: center !important;
        }
        .btn{
            white-space: normal;
            margin-bottom: 10px;
        }
    }
}
.customertxt{
    span{
        @include absolute;
        width: 100%;
        top: 0px;
        left: 0px;
        padding: 10px;
        display: block;
        @include max-767{
        @include relative;
        color: $black;
        }
    }
   
}
.gurantees.bggrey{
    background: $grey2;
}
.parts{
    text-align: left;
    .numbers{
        color: $green;
        font-size: 50px;
        max-width: 100px;
    }
}
.gurantees{
    @include max-767{
        padding: 0px 10px;
    }
}

.transport_harasow{

    .switch_shipping{
        .nav-item{
            padding: 0px 10px;
        }
        .nav-link{
            border: 1px solid #ccc;
            color: $black;
        }
        .nav-link.active{
            border: 1px solid $blue;
            color: $white;
            background-color: $blue;
        }
    }
    .greybox{
           background: $grey2;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
    }
    .transporttabs{
        border-bottom: 0px;
        .nav-item{
            .nav-link{
                border: 1px solid #ccc;
                color: $black;
                border-radius: 0px;
            }
            .nav-link.active{
                border: 1px solid $blue;
                color: $white;
                background-color: $blue;
            }
        }
    }
    .list-group{
        li.list-group-item{
            padding: 0px;
            a{
                padding: 10px 15px;
                display: block;
                color: $black;
                &:hover{
                    text-decoration: none;
                    color: $blue;
                }
                span{
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 10px;
                }
            }
        }
    }
}

.sellerbenefit{
    width: 100%;
    height: 350px;
    background: url("../img/about/who-we-are/image.png") no-repeat bottom center;
    background-size: cover;
    padding: 30px 30px 20px;
    .bgtxt{
        background: rgba($color: $black, $alpha: 0.6);
        padding: 10px;
    }
}

.partners_wrap{
    .btn-link{
        color: $black;
        &:hover{
            text-decoration: none;
            color: $green;
        }
    }
    .form-control{
        background-color: $grey2;
        font-size: 18px;
        height: 45px;
        &:focus{
            box-shadow: none;
        }
    }
    textarea.form-control{
        height: auto;
        resize: none;
    }
    .card-img{
        border: 1px solid #ccc;
    }
    .card{
        border: 0px;
        padding-bottom: 20px;
        border-bottom: 1px solid $black;
        border-radius: 0px;
    }
}