.about_wrap .aboutgrid {
  margin: 30px 0px 0px;
}

.about_wrap .aboutgrid p {
  margin: 10px 0px 0px 0px;
}

.about_wrap .aboutgrid .readmore {
  margin: 0px 0px 10px 0px;
}

.about_wrap .aboutgrid .readmore a {
  color: #2ab94f;
}

.about_wrap .aboutgrid .readmore a:hover {
  text-decoration: none;
}

.about_wrap .whatwedo {
  margin-top: 20px;
}

.about_wrap .whatwedo .quotes {
  margin-top: 30px;
  margin-bottom: 30px;
}

.list-group-item-action:focus {
  color: #fff;
  text-decoration: none;
  background-color: #2ab94f;
}

.container_shipping .greybox {
  background: #F5F6F8;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.container_shipping .greybox .insidegreybox {
  background: #fff;
  padding: 10px;
}

.container_shipping .benefits .icon {
  max-width: 120px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .container_shipping .col-md-3.text-right {
    text-align: center !important;
  }
  .container_shipping .btn {
    white-space: normal;
    margin-bottom: 10px;
  }
}

.customertxt span {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  padding: 10px;
  display: block;
}

@media screen and (max-width: 767px) {
  .customertxt span {
    position: relative;
    color: #000;
  }
}

.gurantees.bggrey {
  background: #F5F6F8;
}

.parts {
  text-align: left;
}

.parts .numbers {
  color: #2ab94f;
  font-size: 50px;
  max-width: 100px;
}

@media screen and (max-width: 767px) {
  .gurantees {
    padding: 0px 10px;
  }
}

.transport_harasow .switch_shipping .nav-item {
  padding: 0px 10px;
}

.transport_harasow .switch_shipping .nav-link {
  border: 1px solid #ccc;
  color: #000;
}

.transport_harasow .switch_shipping .nav-link.active {
  border: 1px solid #00a0dd;
  color: #fff;
  background-color: #00a0dd;
}

.transport_harasow .greybox {
  background: #F5F6F8;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.transport_harasow .transporttabs {
  border-bottom: 0px;
}

.transport_harasow .transporttabs .nav-item .nav-link {
  border: 1px solid #ccc;
  color: #000;
  border-radius: 0px;
}

.transport_harasow .transporttabs .nav-item .nav-link.active {
  border: 1px solid #00a0dd;
  color: #fff;
  background-color: #00a0dd;
}

.transport_harasow .list-group li.list-group-item {
  padding: 0px;
}

.transport_harasow .list-group li.list-group-item a {
  padding: 10px 15px;
  display: block;
  color: #000;
}

.transport_harasow .list-group li.list-group-item a:hover {
  text-decoration: none;
  color: #00a0dd;
}

.transport_harasow .list-group li.list-group-item a span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.sellerbenefit {
  width: 100%;
  height: 350px;
  background: url("../img/about/who-we-are/image.png") no-repeat bottom center;
  background-size: cover;
  padding: 30px 30px 20px;
}

.sellerbenefit .bgtxt {
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
}

.partners_wrap .btn-link {
  color: #000;
}

.partners_wrap .btn-link:hover {
  text-decoration: none;
  color: #2ab94f;
}

.partners_wrap .form-control {
  background-color: #F5F6F8;
  font-size: 18px;
  height: 45px;
}

.partners_wrap .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.partners_wrap textarea.form-control {
  height: auto;
  resize: none;
}

.partners_wrap .card-img {
  border: 1px solid #ccc;
}

.partners_wrap .card {
  border: 0px;
  padding-bottom: 20px;
  border-bottom: 1px solid #000;
  border-radius: 0px;
}
/*# sourceMappingURL=about.css.map */